rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tournaments/{document=**} {
      allow read, write: if true;
    }
    match /players/{document=**} {
      allow read, write: if true;
    }
  }
}
